@model Dish

<a href="/">Home</a>

<h2>@Model.Name</h2>
<h3>@Model.Cook</h3>
<hr>
<p>@Model.Description</p>
<br>
<p>Calories: @Model.Calories</p>
<p>Tastiness: @Model.Tastiness</p>

<a href="deleteDish/@Model.DishId">Delete</a>
<a asp-controller="Home" asp-action="EditDish" asp-route-dishId="@Model.DishId">Edit</a>